pypdf==5.0.1
tqdm==4.66.5
cryptography==3.1
google-cloud-core==2.4.1
pandas==2.2.3
google-cloud-aiplatform==1.35.0 
google-cloud-documentai==2.20.1 
langdetect==1.0.9
transformers==4.46.0
torch==2.5.0
langchain-community==0.3.3
langchain-openai==0.2.
faiss-gpu==1.7.2